{% extends 'index.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/interview.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main1.css' %}"/>
        {#        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"#}
        {#              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"#}
        {#              crossorigin="anonymous">#}

    </head>
    <body style="background-color: #eee;">
    <div class="wrapper">
        <div class="one gradient-custom text-black">
            <h3>Candidate Details</h3>
            <h4>Name: <ol class = "text-muted">{{ student.student_name }}</ol></h4>
        </div>
        <div class="two gradient-custom text-black">
            <form action="{% url 'result' student_id=student.student_id  %}" method="POST" enctype="multipart/form-data" class="mx-1 mx-md-4">
                {% csrf_token %}
                <ol type="1">
                    {% for question in questions_list %}
                        <li><label for="{{ question }}+'user'">{{ question }}</label></li>
                        <input type="text" id="{{ question }}+'user'" , name="{{ question }}+'user'" />
                    {% endfor %}
                </ol>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </form>
        </div>
        <div class="h-25">
            <div class="three gradient-custom text-black">
                <img src="{% url 'video_feed' %}" width="100%" alt="">
                <p>Your interview is under proctoring</p>
            </div>
            {% if messages %}
                <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        </div>
    </div>
    </body>
    </html>
{% endblock content %}